* {
    margin: 0;
    padding: 0;
    background-color: #f2f7f5;
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 100%;
}

nav {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botaoHeader {
    list-style: none;
    padding: 12px 16px;
    background-color: #faae2b;
    border-radius: 5px;
    color: #00473e;
    font-weight: bold;
}

.botaoHeader:hover {
    cursor: pointer;
}

div {
    display: block;
    margin: 0 auto;
    padding: 10px;
    max-width: 90%;
    margin-top: 30px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    text-align: left;
    line-height: 1.2;
    padding: 10px;
}

ul {
    padding: 30px;
}

li {
    padding: 8px;
}

a {
    text-decoration: none;
}

#imgContainer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


#socialMediaBtns {
    right: -55px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btnMedia{
    margin-left: 10px;
}

h3{
    margin: 20px 0 10px 0;
}

#techsIuse{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


#divSobre{
    box-sizing: border-box;
    display: block;
}

