* {
    margin: 0;
    padding: 0;
    background-color: #f2f7f5;
    font-family: 'Courier New', Courier, monospace;
}

header img{
    position: relative;
    width: 150px;
}

header {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

nav a{
    font-size: 18px;
    margin-left: 15px;
}

.botaoHeader {
    list-style: none;
    padding: 12px 16px;
    /* background-color: #faae2b; */
    border-radius: 5px;
    color: #00473e;
    font-weight: bold;
}

.botaoHeader:hover {
    cursor: pointer;
}

div {
    display: block;
    margin: 0 auto;
    padding: 10px;
    max-width: 90%;
    margin-top: 30px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    text-align: left;
    line-height: 1.2;
    padding: 10px;
}

ul {
    padding: 30px;
    margin-bottom: -10px;
}

li {
    padding: 8px;
}

a {
    text-decoration: none;
}

#imgContainer {
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hi{
    width: 90%;
}


#socialMediaBtns {
    right: -55px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btnMedia{
    margin-left: 10px;
}

h3{
    margin: 20px 0 10px 0;
}

#techsIuse{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


#divSobre{
    box-sizing: border-box;
    display: block;
}

#divSobre a{
    color: #fa5246;
}

#divSudoku{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#modalFimDoJogo{
    position: relative;
    top: -432px;
    z-index: -1;
    width: 400px;
    height: 400px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    border:5px solid black;
}
    
#modalFimDoJogo p{
        background-color: inherit;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 26px;
        position: relative;
        left: -20px;
        padding: 5px;
}

#modalFimDoJogo button{
    background-color: #eff0f3;
    box-sizing: border-box;
    position: relative;
    top:-180px;
    left: 350px;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 20px;
    color: #0d0d0d;
    border: 2px solid #0d0d0d;
}

#modalFimDoJogo button:hover{
    cursor:pointer;
}
        
input{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(222, 222, 222);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(239, 239, 239);
    padding: 1px;
    outline: 0;
}

input[type="text"]:focus-within{
    background-color: #dbdbdb;
    color: rgb(81, 156, 181);
    outline: 0;
    caret-color: transparent;
}

.jogadaInvalida{
    color: #fa5246;
}

.borderRight{
    border-right: 2px solid black;
}

.borderTop{
    border-top: 2px solid black;
}

#my-canvas{
    background-color: transparent;
    position: fixed;
    top: 150px;
    left: 0;
    height: 80vh;
    width: 100%;
    z-index: 10000;
    visibility: hidden;
    pointer-events: none;
}

section{
    
    overflow: hidden;
}

@media screen and (max-width: 680px) {
    #socialMediaBtns{
        right: 0px;
        justify-content: center;
    }
}

@media screen and (max-width: 570px){
    img#logo{
        display:none;
    }

    nav{
        justify-content: center;
    }

}

@media screen  and (max-width: 465px) {

    img#logo{
        display: none;
    }

    header{
        width: 110%;
    }


    section{
        width: 110%;
    }

    #divSudoku{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #socialMediaBtns{
        right: 0px;
    }

    .btnMedia{
        max-width: 40%;
    }

    #socialMediaBtns{
        width: 100%;
    }

    .techBtns{
        max-width: 30%;
    } 

}

@media screen and (max-width: 458px) {

    header{
        width: 120%;
    }

    section{
        width: 120%;
    }

    #modalFimDoJogo{
        height: 80vh;
        width: 200%;
    }

    #modalFimDoJogo button{
        top: -260px;
    }
}

@media screen and (max-width: 405px) {

    header{
        width: 120%;
    }

    section{
        width: 120%;
    }

    #modalFimDoJogo{
        height: 80vh;
        width: 200%;
    }

    #modalFimDoJogo button{
        top: -260px;
        left: 325px;
    }
}

@media screen  and (max-width: 360px) {

    nav{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #divSudoku{
        width: 80%;
        position: absolute;
        left: 25px;
    }

    input{
        width: 30px;
        height: 30px;
    }

    #modalFimDoJogo {
        display: none;
    }
}